.AllCocktailsPage {
  width: 100%;
  /* min-height: 100vh; */
}

.cocktail-gen-intro {
  padding: 10vh;
  height: 50vh;
  line-height: 40px;
}

.cocktail-gen-intro h2 {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.marias-emoji {
  font-size: 2.7rem;
}

.cocktail-gen-intro quote {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.3rem;
  font-style: italic;
}

.cocktail-generation-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 5rem;
  & > * {
    width: 40%;
  }
}

.cocktail-finetuning {
  height: 60vh;
}

.cocktail-finetuning h3 {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.all-sliders {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.generation-button {
  text-align: center;
}

.generation-button button {
  background-color: #bd8156;
  border: transparent;
  font-size: 1rem;
  height: 2.5rem;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px 0 8px 0;
}

.cocktail-wrapper {
  border: 1px solid #bd8156;
}

.cocktail h3 {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5vh;
}

.cocktail h4 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 50px;
}

.cocktail ul {
  text-align: center;
  line-height: 25px;
  list-style: none;
}

.cocktail ol {
  text-align: center;
  line-height: 25px;
  margin-bottom: 3vh;
  list-style: none;
}

.cocktail p {
  text-align: center;
}

.maria-waiting {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
