.AllDrinksByCatPage {
  margin-left: 5rem;
}

.AllDrinksByCatPage h2 {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 1vh;
  margin-top: 15vh;
}
